h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 4em;
}
